<div id="stage" data-el="stage">

  <div data-el="artists-page" data-role="page"></div>
  <div data-el="albums-page" data-role="page"></div>
  <div data-el="songs-page" data-role="page"></div>
  <div data-el="now-playing-page" data-role="page"></div>

  <footer>
    <%= render "play_controls" %>
  </footer>
</div>

<% content_for :templates do %>
    <%= handlebars_template :partial => "artists_page", :id => "artists" %>
    <%= handlebars_template :partial => "albums_page", :id => "albums" %>
    <%= handlebars_template :partial => "songs_page", :id => "songs" %>
    <%= handlebars_template :partial => "now_playing" %>
    <%= handlebars_template :partial => "current_playlist" %>
<% end %>

<% content_for :scripts do %>
    <script>jQuery(function(){new App()})</script>
<% end %>