<div id="stage">

  <div id="artists-page" data-role="page"></div>
  <div id="albums-page" data-role="page"></div>
  <div id="songs-page" data-role="page"></div>

  <footer>
    <%= render "play_controls" %>
  </footer>
</div>

<% content_for :templates do %>
    <script id="artists-template" type="text/x-handlebars-template"><%= render "artists_page" %></script>
    <script id="albums-template" type="text/x-handlebars-template"><%= render "albums_page" %></script>
    <script id="songs-template" type="text/x-handlebars-template"><%= render "songs_page" %></script>
    <script id="now-playing-template" type="text/x-handlebars-template"><%= render "now_playing" %></script>
    <script id="current-playlist-template" type="text/x-handlebars-template"><%= render "current_playlist" %></script>
<% end %>

<% content_for :scripts do %>
    <script>jQuery(function(){new App({el:$("#stage")})});</script>
<% end %>