<div id="stage" data-el="stage">

  <div id="library" class="page" data-el="library-page"></div>
  <div id="playlist" class="page" data-el="playlist-page"></div>
  <div id="now-playing" class="page" data-el="now-playing-page"></div>

  <footer>
    <%= render "play_controls" %>
  </footer>
</div>

<% content_for :templates do %>
    <%= handlebars_template :partial => "artist" %>
    <%= handlebars_template :partial => "album" %>
    <%= handlebars_template :partial => "song" %>
    <%= handlebars_template :partial => "library" %>
    <%= handlebars_template :partial => "playlist" %>
    <%= handlebars_template :partial => "now_playing" %>
<% end %>

<% content_for :scripts do %>
    <script>jQuery(function(){new App()})</script>
<% end %>