<div id="stage" data-el="stage">

  <div id="library-lists" class="page" data-el="library-lists-page"></div>
  <div id="playlist" class="page" data-el="playlist-page"></div>
  <div id="now-playing" class="page" data-el="now-playing-page"></div>

  <footer>
    <%= render "play_controls" %>
  </footer>
</div>

<% content_for :templates do %>
    <%= handlebars_template :partial => "artists" %>
    <%= handlebars_template :partial => "albums" %>
    <%= handlebars_template :partial => "songs" %>
    <%= handlebars_template :partial => "library_lists" %>
    <%= handlebars_template :partial => "playlist" %>
    <%= handlebars_template :partial => "now_playing" %>
<% end %>

<% content_for :scripts do %>
    <script>jQuery(function(){new App()})</script>
<% end %>